In [119]:
# Mysql connector
import mysql.connector
from mysql.connector import Error


# Pandas Libraries
import pandas as pd
from IPython.display import display

In [33]:
# Connect to the database
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="root",
    database="shoestore"
)

cursor = connection.cursor()

In [35]:
select_query = "SELECT * FROM employees"
cursor.execute(select_query)
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Omkar', 'Purohit', '9087654321', 'Shivajinagar', 'Omkar04', Decimal('1234.70'))
(2, 'Sachin', 'Jadhav', '8087654320', 'Katraj', 'Sachin0912', Decimal('1000.00'))
(3, 'Sourabh', 'Ganguly', '7087654322', 'Kothrud', 'Dada0871', Decimal('1000.10'))
(4, 'Hardik', 'Bumrah', '9987654325', 'Katraj', 'Boom12', Decimal('3456.99'))
(5, 'Rohit', 'Khatri', '8877990066', 'Wakad', 'Rohit45', Decimal('9999.90'))

In [37]:
select_query = "SELECT * FROM customers"
cursor.execute(select_query)
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Rahul', 'Sharma', '9876543210', 'Pune', datetime.date(2025, 5, 23), 1, 1)
(2, 'Anjali', 'Patil', '8765432109', 'Mumbai', datetime.date(2025, 5, 23), 2, 2)
(3, 'Vikas', 'Nair', '7654321098', 'Delhi', datetime.date(2025, 5, 23), 1, 3)
(4, 'Sneha', 'Joshi', '6543210987', 'Bangalore', datetime.date(2025, 5, 23), 1, 4)
(5, 'Amit', 'Desai', '5432109876', 'Nagpur', datetime.date(2025, 5, 23), 2, 5)
(6, 'Neha', 'Mehta', '4321098765', 'Hyderabad', datetime.date(2025, 5, 23), 1, 6)
(7, 'Karan', 'Kapoor', '3210987654', 'Chennai', datetime.date(2025, 5, 23), 1, 7)
(8, 'Madhukar', 'Kamble', '9875032356', 'Pune', datetime.date(2025, 5, 23), 3, 1)
(9, 'Pranav', 'pawar', '7098243908', 'Mahishmati', datetime.date(2025, 5, 22), 2, 2)
(10, 'Piyush', 'lonkar', '9936780231', 'Lucknow', datetime.date(2025, 5, 22), 1, 3)

In [41]:
select_query = "SELECT * FROM shoes"
cursor.execute(select_query)
results = cursor.fetchall()
for row in results:
    print(row)

(1, 'Air Max', 'Nike', Decimal('7499.99'), 10, 1)
(2, 'Ultraboost', 'Adidas', Decimal('8999.50'), 15, 2)
(3, 'Classic Leather', 'Reebok', Decimal('4599.00'), 8, 3)
(4, 'Zoom Fly', 'Nike', Decimal('6899.99'), 5, 1)
(5, 'Wave Rider', 'Mizuno', Decimal('5999.99'), 6, 4)
(6, 'Gel-Kayano', 'ASICS', Decimal('7899.00'), 7, 2)
(7, 'Metcon 8', 'Nike', Decimal('7299.00'), 9, 5)
(9, 'Jordan Max Aura', 'Nike', Decimal('12999.00'), 2, 1)
(10, 'Samba', 'Adidas', Decimal('8499.00'), 1, 3)

### Add a new customer to `customers` table

In [45]:
def add_customer(customer_firstname, customer_lastname, customer_phonenum, customer_addr, cust_purchased_date, cust_qty, shoe_id):
    try:
        connection = mysql.connector.connect(
            host='localhost',
            database='shoestore',
            user='root',
            password='root'
        )
        if connection.is_connected():
            cursor = connection.cursor()
            insert_query = '''
                INSERT INTO customers (cust_fname, cust_lname, cust_phone, cust_addr, cust_purchased_date, cust_qty, sh_id)
                VALUES (%s, %s, %s, %s, %s, %s, %s);
            '''
            customer_data = (customer_firstname, customer_lastname, customer_phonenum, customer_addr, cust_purchased_date, cust_qty, shoe_id)
            cursor.execute(insert_query, customer_data)
            connection.commit()
            print(f"‚úÖ Customer {customer_firstname} {customer_lastname} added successfully")

    except Error as e:
        print("‚ùå Error:", e)

In [47]:
customers_list = [
    ('Madhukar','Kamble', 9875032356, 'Pune', '2025-05-23', 3, 1),
    ('Pranav', 'pawar', 7098243908, 'Mahishmati', '2025-05-22', 2, 2),
    ('Piyush', 'lonkar', 9936780231, 'Lucknow', '2025-05-22', 1, 3),
    ('Akshay', 'Patil', 9320194990, 'Satara', '2025-05-19', 2, 3)]


for i in customers_list:
    add_customer(*i)

‚úÖ Customer Madhukar Kamble added successfully
‚úÖ Customer Pranav pawar added successfully
‚úÖ Customer Piyush lonkar added successfully
‚úÖ Customer Akshay Patil added successfully

### Delete A Customer

In [49]:
def delete_customer_account(customer_id):
    try:
        connection = mysql.connector.connect(
            host='localhost',
            database='shoestore',
            user='root',
            password='root'
        )
        if connection.is_connected():
            cursor = connection.cursor()
            cursor.execute("SELECT cust_fname, cust_lname FROM customers WHERE cust_id = %s;", (customer_id,))
            customer = cursor.fetchone()

            if not customer:
                print(f"‚ùå Customer with ID {customer_id} does not exist.")
                return
                
            delete_query = "DELETE FROM customers WHERE cust_id = %s;"
            cursor.execute(delete_query, (customer_id,))
            connection.commit()


            cust_fname, cust_lname = customer
            print(f"üóëÔ∏è Customer with ID {customer_id} named {cust_fname} {cust_lname} deleted successfully")

    except Error as e:
        print("‚ùå Error:", e)

In [53]:
delete_customer_account(14)

üóëÔ∏è Customer with ID 14 named Piyush lonkar deleted successfully

### Add a Product to `shoes` Table

In [55]:
def add_product(shoe_name, shoe_brand, shoe_price, shoe_available, employee_id):
    try:
        connection = mysql.connector.connect(
            host='localhost',
            database='shoestore',
            user='root',
            password='root'
        )
        if connection.is_connected():
            cursor = connection.cursor()
            insert_query = '''
                INSERT INTO shoes (sh_name, sh_brand, sh_price, sh_avail, emp_id)
                VALUES (%s, %s, %s, %s, %s);
            '''
            shoes_stock = (shoe_name, shoe_brand, shoe_price, shoe_available, employee_id)
            cursor.execute(insert_query, shoes_stock)
            connection.commit()
            print(f"‚úÖ {shoes_stock[3]} Product of '{shoes_stock[1]}' added successfully")

    except Error as e:
        print("‚ùå Error:", e)

In [37]:
add_product('Jordan Max Aura','Nike', 12999, 2, 1)

‚úÖ 2 Product of 'Nike' added successfully

In [39]:
add_product('Samba', 'Adidas', 8499, 1, 3)

‚úÖ 1 Product of 'Adidas' added successfully

### Show All Customers

In [57]:
def show_customers():
    try:
        connection = mysql.connector.connect(
            host='localhost',
            database='shoestore',
            user='root',
            password='root'
        )
        if connection.is_connected():
            cursor = connection.cursor()
            query = "SELECT * FROM customers;"
            cursor.execute(query)
            rows = cursor.fetchall()

            display(pd.DataFrame(rows, columns = ['cust_id','cust_fname', 'cust_lname', 
                                               'cust_phone', 'cust_addr', 'cust_purchased_date', 'cust_qty', 'sh_id']))

    except Error as e:
        print("‚ùå Error reading from MySQL table:", e)

In [59]:
show_customers()

,cust_id,cust_fname,cust_lname,cust_phone,cust_addr,cust_purchased_date,cust_qty,sh_id
0,1,Rahul,Sharma,9876543210,Pune,2025-05-23,1,1
1,2,Anjali,Patil,8765432109,Mumbai,2025-05-23,2,2
2,3,Vikas,Nair,7654321098,Delhi,2025-05-23,1,3
3,4,Sneha,Joshi,6543210987,Bangalore,2025-05-23,1,4
4,5,Amit,Desai,5432109876,Nagpur,2025-05-23,2,5
5,6,Neha,Mehta,4321098765,Hyderabad,2025-05-23,1,6
6,7,Karan,Kapoor,3210987654,Chennai,2025-05-23,1,7
7,8,Madhukar,Kamble,9875032356,Pune,2025-05-23,3,1
8,9,Pranav,pawar,7098243908,Mahishmati,2025-05-22,2,2
9,10,Piyush,lonkar,9936780231,Lucknow,2025-05-22,1,3
10,12,Madhukar,Kamble,9875032356,Pune,2025-05-23,3,1
11,13,Pranav,pawar,7098243908,Mahishmati,2025-05-22,2,2
12,15,Akshay,Patil,9320194990,Satara,2025-05-19,2,3

### Show All Shoes

In [61]:
def show_shoes():
    try:
        connection = mysql.connector.connect(
            host='localhost',
            database='shoestore',
            user='root',
            password='root'
        )
        if connection.is_connected():
            cursor = connection.cursor()
            query = "SELECT * FROM shoes;"
            cursor.execute(query)
            rows = cursor.fetchall()

            print("üì¶ Shoes Stock:")
            display(pd.DataFrame(rows, columns = ['sh_id','sh_name', 'sh_brand', 'sh_price', 'sh_avail', 'emp_id']))

    except Error as e:
        print("‚ùå Error:", e)

In [63]:
show_shoes()

üì¶ Shoes Stock:

   sh_id          sh_name sh_brand  sh_price  sh_avail  emp_id
0      1          Air Max     Nike   7499.99        10       1
1      2       Ultraboost   Adidas   8999.50        15       2
2      3  Classic Leather   Reebok   4599.00         8       3
3      4         Zoom Fly     Nike   6899.99         5       1
4      5       Wave Rider   Mizuno   5999.99         6       4
5      6       Gel-Kayano    ASICS   7899.00         7       2
6      7         Metcon 8     Nike   7299.00         9       5
7      9  Jordan Max Aura     Nike  12999.00         2       1
8     10            Samba   Adidas   8499.00         1       3

### Show Menu to Customer

In [25]:
import mysql.connector
from mysql.connector import Error
from datetime import date

today = date.today()

def get_connection():
    return mysql.connector.connect(
        host="localhost",
        user="root",
        password="root",  
        database="shoestore"      
    )
    

def show_menu(customer_id):
     try:
         connection = mysql.connector.connect(
             host='localhost',
             database='shoestore',
             user='root',
             password='root'
         )
         if connection.is_connected():
             cursor = connection.cursor()
             cursor.execute("SELECT * FROM customers WHERE cust_id = %s;", (customer_id,))
             customer = cursor.fetchone()

             shoe_id = customer[6]
             cursor.execute("SELECT * FROM shoes WHERE sh_id = %s;", (shoe_id,))
             shoe = cursor.fetchone()
            
             return customer, float(shoe[3]) * customer[7]
     except Error as e:
         print("‚ùå Error reading from MySQL table:", e)



def generate_bill(cid):
    try:
        conn = get_connection()
        cursor = conn.cursor()
        print("\nüßæ Generate Bill")


        cust_query = "SELECT * FROM customers WHERE cust_id = %s"
        cursor.execute(cust_query, (cid,))
        cust = cursor.fetchone()

        if not cust:
            print("‚ùå Customer not found.")
            return

        product_id = cust[6]
       
        product_query = "SELECT * FROM shoes WHERE sh_id = %s"
        cursor.execute(product_query, (product_id,))
        product = cursor.fetchone()

        if not product:
            print("‚ùå Booked product not found in stock.")
            return
        print("\nüßæ ---------- SHOESSTORE BILL ----------")
        print(f"Customer_ID     : {cust[0]}")
        print(f"Cust_Name       : {cust[1]}")
        print(f"Cust_lastname   : {cust[2]}")
        print(f"Phone           : {cust[3]}")
        print(f"Address         : {cust[4]}")
        print("----------------------------------------")
        print(f"Product_id      : {product[0]}")
        print(f"Brand_name      : {product[2]}")
        print(f"Price           : ‚Çπ{product[3]:.2f}")
        print("----------------------------------------")
        print(f"Total Amount    : ‚Çπ{product[3]:.2f}")
        print("Thank you for shopping with us! üõí")
        print("----------------------------------------")

    except Error as e:
        print("‚ùå Error generating bill:", e)


def sign_in():
    try:
        conn = get_connection()
        cursor = conn.cursor()
        print("\nüîê Customer Sign In")
        cid = input("Enter your Customer ID: ").strip()

        query = "SELECT * FROM customers WHERE cust_id = %s"
        cursor.execute(query, (cid,))
        customer = cursor.fetchone()

        if customer:
            print(f"‚úÖ Welcome {customer[1]} {customer[2]}!")
            generate_bill(cid)  # Assuming this function is defined elsewhere
        else:
            print("‚ùå Customer ID not found.")

    except Error as e:
         print("‚ùå Database Error:", e)
    except Exception as ex:
        print("‚ùå An unexpected error occurred:", ex)



def view_stock():
    try:
        conn = get_connection()
        cursor = conn.cursor()
        print("\nüëü Shoe Stock Available:")
        cursor.execute("SELECT * FROM shoes")
        records = cursor.fetchall()
        print(f"{'ID':<5}{'Product':<20}{'Brand':<15}{'Qty':<10}{'Price':<10}")
        for row in records:
            print(f"{row[0]:<5}{row[1]:<20}{row[2]:<15}{row[3]:<10}{row[4]:<10}")
    except Error as e:
        print("‚ùå Error fetching stock:", e)



def emp_sign_in():
    try:
        conn = get_connection()
        cursor = conn.cursor()
        print("\nüßë‚Äçüíº Employee Sign In")
        eid = input("Enter Employee ID: ")
        pwd = input("Enter Password: ")

        query = "SELECT * FROM employees WHERE emp_id = %s AND emp_pass = %s"
        cursor.execute(query, (eid, pwd))
        emp = cursor.fetchone()

        if emp:
            print(f"‚úÖ Welcome, {emp[1]}")
        else:
            print("‚ùå Invalid credentials.")
    except Error as e:
        print("‚ùå Error:", e)




def new_customer_purchase():
    try:
        conn = get_connection()
        cursor = conn.cursor()

        print("\nüõçÔ∏è Welcome New Customer! Let's help you shop.")
        
        cursor.execute("SELECT * FROM shoes WHERE sh_avail > 0")
        records = cursor.fetchall()
        if not records:
            print("‚ùå No stock available at the moment.")
            return

        print("\nüëü Available Shoe Stock:")
        print(f"{'ID':<5}{'Product':<20}{'Brand':<15}{'Price':<10}{'Qty':<10}")
        for row in records:
            print(f"{row[0]:<5}{row[1]:<20}{row[2]:<15}{row[3]:<10}{row[4]:<10}")

        print("\nüìù Let's create your account.")
        cid = int(input("Customer ID: "))
        fname = input("First Name: ")
        lname = input("Last Name: ")
        phone = input("Phone Number: ")
        address = input("Address: ")

        try:
            selected_id = int(input("\nEnter the Product ID you want to buy: "))
        except ValueError:
            print("‚ùå Invalid input. Product ID must be a number.")
            return

        # Check if product exists and is in stock
        cursor.execute("SELECT * FROM shoes WHERE sh_id = %s AND sh_avail > 0", (selected_id,))
        product = cursor.fetchone()

        if not product:
            print("‚ùå Invalid Product ID or out of stock.")

            # Insert new customer (adjust column names as per your DB schema)
        query = """
            INSERT INTO customers (
                cust_id, cust_fname, cust_lname,
                cust_phone, cust_addr, cust_purchased_date,cust_qty,sh_id
            ) VALUES (%s, %s, %s, %s, %s,%s ,%s,%s)
        """
        cursor.execute(query, (cid, fname, lname, phone, address, today, 1,selected_id))

        # Update stock
        cursor.execute("UPDATE shoes SET sh_avail = sh_avail - 1 WHERE sh_id = %s", (product[0],))
        conn.commit()
    
        print(f"\n‚úÖ Thank you {fname}! Product ID {product[0]} has been booked for you.")
        print("üßæ Generating your bill...")
        print('')
        generate_bill(cid)

    except Error as e:
        print("‚ùå Error during purchase:", e)
    except Exception as ex:
        print("‚ùå Unexpected error:", ex)


def existing_customer_buy_with_discount():
    try:
        conn = get_connection()
        cursor = conn.cursor()

        print("\nüëü Existing Customer - Buy New Shoes (5% Discount)")
        cust_id = int(input("Enter your Customer ID: "))

        # 1. Check if customer exists
        cursor.execute("SELECT * FROM customers WHERE cust_id = %s", (cust_id,))
        customer = cursor.fetchone()

        if not customer:
            print("‚ùå Customer not found.")
            return

        print(f"‚úÖ Welcome back {customer[1]} {customer[2]}!")

        # 2. Show available shoes
        cursor.execute("SELECT * FROM shoes WHERE sh_avail > 0")
        shoes = cursor.fetchall()

        if not shoes:
            print("‚ùå No shoes available in stock.")
            return

        print("\nüì¶ Available Shoes:")
        print(f"{'ID':<5}{'Name':<20}{'Brand':<15}{'Price':<10}{'Qty':<10}")
        for sh in shoes:
            print(f"{sh[0]:<5}{sh[1]:<20}{sh[2]:<15}{sh[3]:<10.2f}{sh[4]:<10}")

        selected_id = int(input("\nEnter the Shoe ID you want to buy: "))

        # 3. Check selected shoe
        cursor.execute("SELECT * FROM shoes WHERE sh_id = %s AND sh_avail > 0", (selected_id,))
        selected_shoe = cursor.fetchone()

        if not selected_shoe:
            print("‚ùå Invalid Shoe ID or out of stock.")
            return

        # 4. Calculate discount
        original_price = float(selected_shoe[3])
        discount = original_price * 0.05
        final_price = original_price - discount

        # 5. Update stock
        cursor.execute("UPDATE shoes SET sh_avail = sh_avail - 1 WHERE sh_id = %s", (selected_id,))

        # 6. Insert purchase record
        cursor.execute("""
            INSERT INTO purchase (cust_id, sh_id, cust_purchased_date, price, discount_applied)
            VALUES (%s, %s, NOW(), %s, %s)
        """, (cust_id, selected_id, final_price, discount))

        conn.commit()

        # 7. Print Bill
        print("\nüßæ ---------- SHOESSTORE BILL ----------")
        print(f"Customer ID     : {customer[0]}")
        print(f"Customer Name   : {customer[1]} {customer[2]}")
        print(f"Phone Number    : {customer[3]}")
        print(f"Address         : {customer[4]}")
        print("----------------------------------------")
        print(f"Shoe ID         : {selected_shoe[0]}")
        print(f"Product Name    : {selected_shoe[1]}")
        print(f"Brand Name      : {selected_shoe[2]}")
        print(f"Original Price  : ‚Çπ{original_price:.2f}")
        print(f"Discount (5%)   : ‚Çπ{discount:.2f}")
        print(f"Total Price     : ‚Çπ{final_price:.2f}")
        print("----------------------------------------")
        print("üõí Thank you for shopping with us!")
        print("----------------------------------------")

    except Error as e:
        print("‚ùå Database Error:", e)
    except Exception as ex:
        print("‚ùå Unexpected Error:", ex)


def space():
    input("\nüîÅ Press Enter to continue...\n")

print('üéâ WELCOME TO SHOESSTORE üéâ')

while True:
    print('''
    Are you a:                                       
    (A) Customer
    (B) Employee
    (C) Existing Customer - Buy with 5% Discount
    (E) Exit''')

    ch = input("Enter your choice: ").strip().lower()

    try:
        if ch == 'a':
            print("\n1. Create Account and Purchase\n2. Sign In to Existing Account")
            choice = input("Enter your option (1 or 2): ").strip()
            
            if choice == '1':
                new_customer_purchase()  # Correct function name
            elif choice == '2':
                sign_in()
            else:
                print("‚ö†Ô∏è Please enter a valid option: 1 or 2.")

        elif ch == 'b':
            emp_sign_in()

        elif ch == 'c':
            existing_customer_buy_with_discount()  # Now correctly reachable

        elif ch == 'e':
            print("üëã Thank you for visiting ShoesStore!")
            break

        else:
            print("‚ö†Ô∏è Invalid input. Please choose A, B, C, or E.")

    except Exception as e:
        print("‚ùå Error:", e)

    space()

üéâ WELCOME TO SHOESSTORE üéâ

    Are you a:
    (A) Customer
    (B) Employee
    (C) Existing Customer - Buy with 5% Discount
    (E) Exit

Enter your choice:  C

üëü Existing Customer - Buy New Shoes (5% Discount)

Enter your Customer ID:  2

‚úÖ Welcome back Anjali Patil!

üì¶ Available Shoes:
ID   Name                Brand          Price     Qty
1    Air Max             Nike           7499.99   9
2    Ultraboost          Adidas         8999.50   10
3    Classic Leather     Reebok         4599.00   8
4    Zoom Fly            Nike           6899.99   2
5    Wave Rider          Mizuno         5999.99   4
6    Gel-Kayano          ASICS          7899.00   7
7    Metcon 8            Nike           7299.00   8
9    Jordan Max Aura     Nike           12999.00  2
10   Samba               Adidas         8499.00   1

Enter the Shoe ID you want to buy:  7

üßæ ---------- SHOESSTORE BILL ----------
Customer ID     : 2
Customer Name   : Anjali Patil
Phone Number    : 8765432109
Address         : Mumbai
----------------------------------------
Shoe ID         : 7
Product Name    : Metcon 8
Brand Name      : Nike
Original Price  : ‚Çπ7299.00
Discount (5%)   : ‚Çπ364.95
Total Price     : ‚Çπ6934.05
----------------------------------------
üõí Thank you for shopping with us!
----------------------------------------

üîÅ Press Enter to continue...

    Are you a:
    (A) Customer
    (B) Employee
    (C) Existing Customer - Buy with 5% Discount
    (E) Exit

Enter your choice:  E

üëã Thank you for visiting ShoesStore!

In [93]:
customer_id = int(input('Enter The Customer ID'))


show_menu(customer_id)

Enter The Customer ID 12

((12,
  'Madhukar',
  'Kamble',
  '9875032356',
  'Pune',
  datetime.date(2025, 5, 23),
  3,
  1),
 4599.0)

In [151]:
import mysql.connector
from mysql.connector import Error

def get_connection():
    return mysql.connector.connect(
        host="localhost",
        user="root",
        password="root",  # Replace with your actual password
        database="shoestore"      # Replace with your actual database name
    )

def sign_in():
    try:
        conn = get_connection()
        cursor = conn.cursor()
        print("\nüîê Customer Sign In")
        cid = input("Enter your Customer ID: ").strip()

        query = "SELECT * FROM customers WHERE cust_id = %s"
        cursor.execute(query, (cid,))
        customer = cursor.fetchone()

        if customer:
            print(f"‚úÖ Welcome {customer[1]} {customer[2]}!")
            generate_bill(cid)  # Assuming this function is defined elsewhere
        else:
            print("‚ùå Customer ID not found.")

    except Error as e:
         print("‚ùå Database Error:", e)
    except Exception as ex:
        print("‚ùå An unexpected error occurred:", ex)
sign_in()

üîê Customer Sign In

Enter your Customer ID:  12

‚úÖ Welcome Madhukar Kamble!

üßæ Generate Bill

üßæ ---------- SHOESSTORE BILL ----------
Customer_ID     : 12
Cust_Name       : Madhukar
Cust_lastname   : Kamble
Phone           : 9875032356
Address         : Pune
----------------------------------------
Product_id      : 3
Brand_name      : Reebok
Price           : ‚Çπ4599.00
----------------------------------------
Total Amount    : ‚Çπ4599.00
Thank you for shopping with us! üõí
----------------------------------------

In [264]:
def generate_bill(cid):
    try:
        conn = get_connection()
        cursor = conn.cursor()
        print("\nüßæ Generate Bill")


        cust_query = "SELECT * FROM customers WHERE cust_id = %s"
        cursor.execute(cust_query, (cid,))
        cust = cursor.fetchone()
        print(cust)
        if not cust:
            print("‚ùå Customer not found.")
            return

        product_id = cust[6]
        print('Bought Product is ', product_id)
        product_query = "SELECT * FROM shoes WHERE sh_id = %s"
        cursor.execute(product_query, (product_id,))
        product = cursor.fetchone()

        if not product:
            print("‚ùå Booked product not found in stock.")
            return
        print("\nüßæ ---------- SHOESSTORE BILL ----------")
        print(f"Customer_ID     : {cust[0]}")
        print(f"Cust_Name       : {cust[1]}")
        print(f"Cust_lastname   : {cust[2]}")
        print(f"Phone           : {cust[3]}")
        print(f"Address         : {cust[4]}")
        print("----------------------------------------")
        print(f"Product_id      : {product[0]}")
        print(f"Brand_name      : {product[2]}")
        print(f"Price           : ‚Çπ{product[3]:.2f}")
        print("----------------------------------------")
        print(f"Total Amount    : ‚Çπ{product[3]:.2f}")
        print("Thank you for shopping with us! üõí")
        print("----------------------------------------")

    except Error as e:
        print("‚ùå Error generating bill:", e)

In [167]:
def view_stock():
    try:
        conn = get_connection()
        cursor = conn.cursor()
        print("\nüëü Shoe Stock Available:")
        cursor.execute("SELECT * FROM shoes")
        records = cursor.fetchall()
        print(f"{'ID':<5}{'Product':<20}{'Brand':<15}{'Qty':<10}{'Price':<10}")
        for row in records:
            print(f"{row[0]:<5}{row[1]:<20}{row[2]:<15}{row[3]:<10}{row[4]:<10}")
    except Error as e:
        print("‚ùå Error fetching stock:", e)

view_stock()

üëü Shoe Stock Available:
ID   Product             Brand          Qty       Price
1    Air Max             Nike           7499.99   10
2    Ultraboost          Adidas         8999.50   15
3    Classic Leather     Reebok         4599.00   8
4    Zoom Fly            Nike           6899.99   5
5    Wave Rider          Mizuno         5999.99   6
6    Gel-Kayano          ASICS          7899.00   7
7    Metcon 8            Nike           7299.00   9
9    Jordan Max Aura     Nike           12999.00  2
10   Samba               Adidas         8499.00   1

In [173]:
def emp_sign_in():
    try:
        conn = get_connection()
        cursor = conn.cursor()
        print("\nüßë‚Äçüíº Employee Sign In")
        eid = input("Enter Employee ID: ")
        pwd = input("Enter Password: ")

        query = "SELECT * FROM employees WHERE emp_id = %s AND emp_pass = %s"
        cursor.execute(query, (eid, pwd))
        emp = cursor.fetchone()

        if emp:
            print(f"‚úÖ Welcome, {emp[1]}")
        else:
            print("‚ùå Invalid credentials.")
    except Error as e:
        print("‚ùå Error:", e)

emp_sign_in()

üßë‚Äçüíº Employee Sign In

Enter Employee ID:  1
Enter Password:  Omkar04

‚úÖ Welcome, Omkar

In [288]:
import mysql.connector
from mysql.connector import Error
from datetime import date

today = date.today()

def new_customer_purchase():
    try:
        conn = get_connection()
        cursor = conn.cursor()

        print("\nüõçÔ∏è Welcome New Customer! Let's help you shop.")
        
        cursor.execute("SELECT * FROM shoes WHERE sh_avail > 0")
        records = cursor.fetchall()
        if not records:
            print("‚ùå No stock available at the moment.")
            return

        print("\nüëü Available Shoe Stock:")
        print(f"{'ID':<5}{'Product':<20}{'Brand':<15}{'Price':<10}{'Qty':<10}")
        for row in records:
            print(f"{row[0]:<5}{row[1]:<20}{row[2]:<15}{row[3]:<10}{row[4]:<10}")

        print("\nüìù Let's create your account.")
        cid = int(input("Customer ID: "))
        fname = input("First Name: ")
        lname = input("Last Name: ")
        phone = input("Phone Number: ")
        address = input("Address: ")

        try:
            selected_id = int(input("\nEnter the Product ID you want to buy: "))
        except ValueError:
            print("‚ùå Invalid input. Product ID must be a number.")
            return

        # Check if product exists and is in stock
        cursor.execute("SELECT * FROM shoes WHERE sh_id = %s AND sh_avail > 0", (selected_id,))
        product = cursor.fetchone()

        if not product:
            print("‚ùå Invalid Product ID or out of stock.")

            # Insert new customer (adjust column names as per your DB schema)
        query = """
            INSERT INTO customers (
                cust_id, cust_fname, cust_lname,
                cust_phone, cust_addr, cust_purchased_date,cust_qty,sh_id
            ) VALUES (%s, %s, %s, %s, %s,%s ,%s,%s)
        """
        cursor.execute(query, (cid, fname, lname, phone, address, today, 1,selected_id))

        # Update stock
        cursor.execute("UPDATE shoes SET sh_avail = sh_avail - 1 WHERE sh_id = %s", (product[0],))
        conn.commit()
    
        print(f"\n‚úÖ Thank you {fname}! Product ID {product[0]} has been booked for you.")
        print("üßæ Generating your bill...")
        print('')
        generate_bill(cid)

    except Error as e:
        print("‚ùå Error during purchase:", e)
    except Exception as ex:
        print("‚ùå Unexpected error:", ex)

new_customer_purchase()

üõçÔ∏è Welcome New Customer! Let's help you shop.

üëü Available Shoe Stock:
ID   Product             Brand          Price     Qty
1    Air Max             Nike           7499.99   9
2    Ultraboost          Adidas         8999.50   11
3    Classic Leather     Reebok         4599.00   8
4    Zoom Fly            Nike           6899.99   4
5    Wave Rider          Mizuno         5999.99   6
6    Gel-Kayano          ASICS          7899.00   7
7    Metcon 8            Nike           7299.00   9
9    Jordan Max Aura     Nike           12999.00  2
10   Samba               Adidas         8499.00   1

üìù Let's create your account.

Customer ID:  21
First Name:  Ramesh
Last Name:  Deshpande
Phone Number:  1234098765
Address:  Satara Road

Enter the Product ID you want to buy:  2

‚úÖ Thank you Ramesh! Product ID 2 has been booked for you.
üßæ Generating your bill...


üßæ Generate Bill
(21, 'Ramesh', 'Deshpande', '1234098765', 'Satara Road', datetime.date(2025, 5, 26), 1, 2)
Bought Product is  1

üßæ ---------- SHOESSTORE BILL ----------
Customer_ID     : 21
Cust_Name       : Ramesh
Cust_lastname   : Deshpande
Phone           : 1234098765
Address         : Satara Road
----------------------------------------
Product_id      : 1
Brand_name      : Nike
Price           : ‚Çπ7499.99
----------------------------------------
Total Amount    : ‚Çπ7499.99
Thank you for shopping with us! üõí
----------------------------------------

In [312]:
def space():
    input("\nüîÅ Press Enter to continue...\n")

print('üéâ WELCOME TO SHOESSTORE üéâ')

while True:
    print('''
    Are you a:                                       
   (A) Customer
   (B) Employee
   (E) Exit''')

    ch = input("Enter your choice: ").strip().lower()

    try:
        if ch == 'a':
            print("\n1. Create Account and Purchase\n2. Sign In to Existing Account")
            choice = input("Enter your option (1 or 2): ").strip()
            
            if choice == '1':
                cust_ac()  # should point to your new_customer_purchase() function
            elif choice == '2':
                sign_in()
            else:
                print("‚ö†Ô∏è Please enter a valid option: 1 or 2.")
                
        elif ch == 'b':
            emp_sign_in()

        elif ch == 'e':
            print("üëã Thank you for visiting ShoesStore!")
            break

        else:
            print("‚ö†Ô∏è Invalid input. Please choose A, B, or E.")

    except Exception as e:
        print("‚ùå Error:", e)

    space()

üéâ WELCOME TO SHOESSTORE üéâ

    Are you a:
   (A) Customer
   (B) Employee
   (E) Exit

Enter your choice:  A

1. Create Account and Purchase
2. Sign In to Existing Account

Enter your option (1 or 2):  2

üîê Customer Sign In

Enter your Customer ID:  2

‚úÖ Welcome Anjali Patil!

üßæ Generate Bill

üßæ ---------- SHOESSTORE BILL ----------
Customer_ID     : 2
Cust_Name       : Anjali
Cust_lastname   : Patil
Phone           : 8765432109
Address         : Mumbai
----------------------------------------
Product_id      : 2
Brand_name      : Adidas
Price           : ‚Çπ8999.50
----------------------------------------
Total Amount    : ‚Çπ8999.50
Thank you for shopping with us! üõí
----------------------------------------

üîÅ Press Enter to continue...
 e

    Are you a:
   (A) Customer
   (B) Employee
   (E) Exit

Enter your choice:  E

üëã Thank you for visiting ShoesStore!

In [21]:
import mysql.connector
from mysql.connector import Error

def get_connection():
    return mysql.connector.connect(
        host='localhost',
        user='root',
        password='root',
        database='shoestore'
    )

def existing_customer_buy_with_discount():
    try:
        conn = get_connection()
        cursor = conn.cursor()

        print("\nüëü Existing Customer - Buy New Shoes (5% Discount)")
        cust_id = int(input("Enter your Customer ID: "))

        # 1. Check if customer exists
        cursor.execute("SELECT cust_fname, cust_lname FROM customers WHERE cust_id = %s", (cust_id,))
        customer = cursor.fetchone()

        if not customer:
            print("‚ùå Customer not found.")
            return

        print(f"‚úÖ Welcome back {customer[0]} {customer[1]}!")

        # 2. Show available shoes
        cursor.execute("SELECT * FROM shoes WHERE sh_avail > 0")
        shoes = cursor.fetchall()

        if not shoes:
            print("‚ùå No shoes available in stock.")
            return

        print("\nüì¶ Available Shoes:")
        print(f"{'ID':<5}{'Name':<20}{'Brand':<15}{'Price':<10}{'Qty':<10}")
        for sh in shoes:
            print(f"{sh[0]:<5}{sh[1]:<20}{sh[2]:<15}{sh[3]:<10.2f}{sh[4]:<10}")

        selected_id = int(input("\nEnter the Shoe ID you want to buy: "))

        # 3. Check selected shoe
        cursor.execute("SELECT * FROM shoes WHERE sh_id = %s AND sh_avail > 0", (selected_id,))
        selected_shoe = cursor.fetchone()

        if not selected_shoe:
            print("‚ùå Invalid Shoe ID or out of stock.")
            return

        # 4. Calculate discount
        original_price = float(selected_shoe[3])
        discount = original_price * 0.05
        final_price = original_price - discount

        # 5. Update stock
        cursor.execute("UPDATE shoes SET sh_avail = sh_avail - 1 WHERE sh_id = %s", (selected_id,))

        # 6. Insert purchase record
        cursor.execute("""
            INSERT INTO purchase (cust_id, sh_id, cust_purchased_date, price, discount_applied)
            VALUES (%s, %s, NOW(), %s, %s)
        """, (cust_id, selected_id, final_price, discount))

        conn.commit()

        print(f"\n‚úÖ Purchase successful!")
        print(f"üßæ Original Price: ‚Çπ{original_price:.2f}")
        print(f"üéÅ Discount (5%): ‚Çπ{discount:.2f}")
        print(f"üí≥ Final Price: ‚Çπ{final_price:.2f}")

    except Error as e:
        print("‚ùå Database Error:", e)
    except Exception as ex:
        print("‚ùå Unexpected Error:", ex)
    finally:
        if conn.is_connected():
            cursor.close()
            conn.close()

# Run the function
existing_customer_buy_with_discount()

üëü Existing Customer - Buy New Shoes (5% Discount)

Enter your Customer ID:  2

‚úÖ Welcome back Anjali Patil!

üì¶ Available Shoes:
ID   Name                Brand          Price     Qty
1    Air Max             Nike           7499.99   9
2    Ultraboost          Adidas         8999.50   10
3    Classic Leather     Reebok         4599.00   8
4    Zoom Fly            Nike           6899.99   3
5    Wave Rider          Mizuno         5999.99   5
6    Gel-Kayano          ASICS          7899.00   7
7    Metcon 8            Nike           7299.00   9
9    Jordan Max Aura     Nike           12999.00  2
10   Samba               Adidas         8499.00   1

Enter the Shoe ID you want to buy:  4

‚úÖ Purchase successful!
üßæ Original Price: ‚Çπ6899.99
üéÅ Discount (5%): ‚Çπ345.00
üí≥ Final Price: ‚Çπ6554.99